.s-wrapper{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--blue1);
    width: 100%!important;
    position: relative;
}

.s-container{
    /* width: 60%!important; */
    flex: 60%;
    /* padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: var(--blue1);
    width: 100%!important;
    position: relative; */

    /* min-height: 100vh!important; */
}

.s-1 h1{
    padding-top: 2rem;
    text-transform: uppercase;
    /* color: white; */
    font-weight: 400;
    margin-bottom: 2.5rem;
    font-size: 2.7rem;
    /* color: var(--blue4); */
    color: white;
}

.box h2:hover{
    color: white;
}

.box{
    text-transform: uppercase;
    display: flex;
    align-items: center!important;
    justify-content: space-between!important;
    height: 4rem;
    margin-bottom: 2.5rem;
    /* background-color: var(--blue4); */
    border-top: 1px solid white;
    width: 100%;
    padding-top: 4rem;
    
}

.box h2{
    color: var(--secondary);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    transition: color 0.8s ease;
}

.blue-circle{
    /* position: absolute; */
    overflow: hidden;
    box-sizing: border-box;
    opacity: 0;
    width: 4rem;
    height: 4rem;
    background-color: var(--blue4);
    border-radius: 100px;
    margin-bottom: 2rem;
    transition: opacity 0.3s ease;
}

.box:nth-last-child(1){
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
}

.box:hover .blue-circle{
    opacity: 1;
}

.s-container1{
    
    /* text-align: center; */
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* width: 40%; */
    flex: 40%;  
}

.s-container1 h1{
    color: var(--blue4);
    text-transform: uppercase;
    padding-bottom: 1rem;
}

.s-container1 p{
    text-transform: uppercase;
    font-size: 1rem;
    /* line-height: 1.5rem; */
    font-weight: 100;
}
